@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

:root[data-theme="light"] {
  --bg-primary: #ffffff;
  --bg-secondary: #f0f4f9;
  --bg-tertiary: #e6eaf1;
  --text-primary: #585858;
  --text-secondary: #282828;
  --text-light: #c4c7c5;
  --card-bg: #f0f4f9;
  --card-hover: #dfe4ea;
  --border-color: #e2e6eb;
}

:root[data-theme="dark"] {
  --bg-primary: #1a1a1a;
  --bg-secondary: #2d2d2d;
  --bg-tertiary: #3a3a3a;
  --text-primary: #e0e0e0;
  --text-secondary: #f0f0f0;
  --text-light: #a0a0a0;
  --card-bg: #2d2d2d;
  --card-hover: #3a3a3a;
  --border-color: #404040;
}

#root{
  min-height: 100vh;
  display: flex;
  animation: fadeIn 1.5s;
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}